@import url('https://fonts.googleapis.com/css2?family=Allan:wght@400;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');


/*
 * Theme Switcher
 */

$light-primary: #9d68dd;
$light-background: #f8fafc;
$light-background-secondary: #e2e8f0;
$light-text: #151e2c;

$dark-primary: #9d68dd;
$dark-background: #2a2a2a;
$dark-background-secondary: #1e1e1e;
$dark-text: #e2e8f0;

html[data-theme="light"] {
  --primary: #{$light-primary};
  --background: #{$light-background};
  --background-secondary: #{$light-background-secondary};
  --text: #{$light-text};
}

html[data-theme="dark"] {
  --primary: #{$dark-primary};
  --background: #{$dark-background};
  --background-secondary: #{$dark-background-secondary};
  --text: #{$dark-text};
}

